[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pytest = "*"
wasabi = {path = "."}
regex = "*"
jupyterlab = "*"
numpy = "*"
pandas = "*"
pypdf2 = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10"
